<html>
    <body>
        <form action="/new_project/created">
            <label for="project_name">Enter a title for the project</label>
            <input type="text" name="project_name" />
            <label for="description">Enter a description of the project</label>
            <input type="text" name="description" />
            <label for="max_grade">Enter the maximum grade for the project</label>
            <input type="text" name="max_grade" />            
            <input type="submit">
        </form>
    </body>
</html>
