{% extends "main_template.html" %}
{% block title %} - Add New Grade{% endblock %}
{% block content %}
    <form action="/new_grade/added">
        <label for="student_git">Enter student's Github username</label>
        <input type="text" name="student_git" />
        <label for="project_name">Enter project name</label>
        <input type="text" name="project_name" />
        <label for="grade">Enter grade</label>
        <input type="text" name="grade" />            
        <input type="submit">
    </form>
{% endblock %}